*{
}
.indexbox1{
		border:1px solid black;
		width: 450px;
		height: 410px;
		margin: auto;
		margin-top: 250px;
	}
.indexbox1 p{
	    font-size: 32px;
	    text-align: center;
	    padding: 30px;
}
.layui-form-item{
	color: white;
	width:400px;
	padding-top: 15px;
}

